@tailwind base;
@tailwind components;
@tailwind utilities;

input:not([type]),input[type=text] { @apply text-gray-700 pl-1; }

@font-face {
    font-family: Turpis;
    src: url("../font/turpls-font/Turpis-GOgVm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: KottaOne;
    src: url("../font/kotta-one-font/KottaOne-4BeM9.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.window {
    @apply text-gray-200 backdrop-blur-3xl drop-shadow-lg select-none border-opacity-40 [border-width:8px_2px_2px_2px] rounded-md border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.1);
    background: linear-gradient(240deg, rgba(55, 65, 81, 0.144) 0%, rgba(55, 65, 81, 0.4) 100%);

    &.window--gold {
        @apply border-t-yellow-400 border-l-yellow-400 border-b-yellow-600 border-r-yellow-600;
        background: linear-gradient(240deg, rgba(226, 174, 1, 0.7) 0%, rgba(197, 178, 9, 0.5) 100%);
    }

    &.window--oneline {
        @apply border-t-2;
    }
}

.window h2 { @apply font-bold; }

.window-popup {
    @apply text-gray-100 backdrop-blur-sm select-none border-opacity-40 rounded-xl border-[1px] border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.1);
    background: linear-gradient(240deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.53) 100%);
}

button,
.button {
    @apply text-gray-200 tracking-wider backdrop-blur-3xl drop-shadow-lg select-none border-opacity-40 border-2 rounded-lg border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    background: rgb(55, 65, 81, 0.7);

    &:focus { @apply outline-none; }

    &:not(:disabled) {
        &:hover {
            @apply scale-105;
            box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
        }
    }

    &:disabled { @apply select-none pointer-events-none; }  // Without this line window.onmousemove doesn't fire on disabled buttons on Chrome 107 (not on Firefox)

    &.button--blue {
        background: linear-gradient(240deg, rgb(0, 195, 195, 0.7) 0%, rgb(0, 234, 234, 0.7) 100%);
    }

    &.button--gold {
        @apply border-t-yellow-400 border-l-yellow-400 border-b-yellow-600 border-r-yellow-600;
        background: linear-gradient(240deg, rgba(226, 166, 1, 0.856) 0%, rgba(255, 204, 0, 0.7) 100%);
    }

    &.button--white {
        @apply border-t-gray-300 border-l-gray-300 border-b-gray-400 border-r-gray-400;
        background: linear-gradient(240deg, rgba(164, 164, 164, 0.7) 0%, rgba(215, 215, 215, 0.856) 100%);
    }
}

@keyframes buttonClickAnimation {
    from { transform: scale(110%); background: white; }
    to   { }
}

.ReactModalPortal {
    @apply absolute z-20;
}

.ReactModal__Overlay {
    transition: backdrop-filter 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.0) !important;
    backdrop-filter: saturate(100%) blur(0px);
    &, &.ReactModal__Overlay--after-open.ReactModal__Overlay--before-close { backdrop-filter: saturate(100%) blur(0px); }
    &.ReactModal__Overlay--after-open { backdrop-filter: saturate(50%) blur(20px); }
}

.ReactModal__Content {
    transition: transform 0.3s ease-out;
    @apply text-gray-200 bg-gray-600 bg-opacity-80 select-none border-opacity-40 border-2 rounded-md border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    &, .ReactModal__Overlay--after-open.ReactModal__Overlay--before-close & { transform: translate(-50%, -50%) scale(0%); }
    .ReactModal__Overlay--after-open & { transform: translate(-50%, -50%) scale(100%); }
    &.dialog--gold {
        @apply border-t-yellow-500 border-l-yellow-500 border-b-yellow-600 border-r-yellow-600;
        background: linear-gradient(240deg, rgba(159, 122, 0, 0.9) 0%, rgba(169, 152, 7, 0.9) 100%);
    }
}

input[type=checkbox], input[type=radio], input[type=range] {
    @apply accent-orange-600;
}

html {
    min-height: 100%;
}

html,
button,
button:disabled,
label,
a,
input,
dialog::backdrop,
img {
    cursor: none;
}

img {
    @apply select-none;
}

@keyframes iconAnimation {
    from { transform: scale(120%); opacity: 1; }
    50%  { transform: scale(100%); opacity: 0.8; }
    to   { transform: scale(120%); opacity: 1; }
}

i.ti {
    display: inline-block;
    animation: iconAnimation 1.5s linear infinite;
}
