@tailwind base;
@tailwind components;
@tailwind utilities;

$button1: rgb(55, 65, 81, 0.7);
$button2: rgb(55, 65, 81, 0.7);

$button1-gold: rgba(226, 166, 1, 0.856);
$button2-gold: rgba(255, 204, 0, 0.7);

$button1-primary: rgb(0, 195, 195, 0.7);
$button2-primary: rgb(0, 234, 234, 0.7);

input:not([type]),input[type=text] { @apply text-gray-700 pl-1; }

@font-face {
    font-family: Turpis;
    src: url("../font/turpls-font/Turpis-GOgVm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: KottaOne;
    src: url("../font/kotta-one-font/KottaOne-4BeM9.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.window {
    @apply text-gray-200 backdrop-blur-3xl drop-shadow-lg select-none border-opacity-40 border-2 rounded-md border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.1);
    background: linear-gradient(240deg, rgba(55, 65, 81, 0.144) 0%, rgba(55, 65, 81, 0.4) 100%);

    &.gold {
        @apply border-t-yellow-400 border-l-yellow-400 border-b-yellow-600 border-r-yellow-600;
        background: linear-gradient(240deg, rgba(226, 174, 1, 0.7) 0%, rgba(197, 178, 9, 0.5) 100%);
    }
}

.window h2 { @apply font-bold; }

.window-popup {
    @apply text-gray-100 backdrop-blur-sm select-none border-opacity-40 rounded-xl border-[1px] border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.1);
    background: linear-gradient(240deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.53) 100%);
}

button {
    @apply text-gray-200 tracking-wider backdrop-blur-3xl drop-shadow-lg select-none border-opacity-40 border-2 rounded-sm border-t-gray-400 border-l-gray-400 border-b-gray-600 border-r-gray-600;
    background: linear-gradient(240deg, rgb(55, 65, 81, 0.7) 0%, rgb(55, 65, 81, 0.7) 100%);

    &:focus { @apply outline-none; }

    &:hover:not(:disabled) {
        @apply scale-105;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    }

    &:disabled { @apply select-none pointer-events-none; }  // Without this line window.onmousemove doesn't fire on disabled buttons on Chrome 107 (not on Firefox)

    &.button-primary {
        background: linear-gradient(240deg, $button1-primary 0%, $button2-primary 100%);
    }

    .gold & {
        @apply border-t-yellow-400 border-l-yellow-400 border-b-yellow-600 border-r-yellow-600;
        background: linear-gradient(240deg, $button1-gold 0%, $button2-gold 100%);
    }
}

.ReactModal__Overlay {
    transition: background-color 0.3s ease-in-out;
    &, &.ReactModal__Overlay--after-open.ReactModal__Overlay--before-close { background-color: rgba(0, 0, 0, 0.0) !important; }
    &.ReactModal__Overlay--after-open { background-color: rgba(0, 0, 0, 0.5) !important; }
}

.ReactModal__Content {
    transition: transform 0.1s ease-out;
    &, .ReactModal__Overlay--after-open.ReactModal__Overlay--before-close & { transform: translate(-50%, -50%) scale(0%); }
    .ReactModal__Overlay--after-open & { transform: translate(-50%, -50%) scale(100%); }
}

input[type=checkbox], input[type=radio] {
    @apply accent-orange-600;
}

body,
button,
button:disabled,
label,
a,
input,
dialog::backdrop,
img {
    cursor: none;
}

@keyframes iconAnimation {
    from { transform: scale(120%); opacity: 1; }
    50%  { transform: scale(100%); opacity: 0.8; }
    to   { transform: scale(120%); opacity: 1; }
}

i.ti {
    display: inline-block;
    animation: iconAnimation 1.5s linear infinite;
}
